doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          | #{ locals.name }

      meta(name='author', content=locals.owner)
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(
        name='google-site-verification'
        content='LjoyQzPO6GNPYkjT8aMpI_vsxY7N2iW3Jqet5mkPveY'
      )
      block page-description

      link(rel='stylesheet', href='/css/site.css')
      link(
        href='http://fonts.googleapis.com/css?family=Raleway|Lora:400',
        rel='stylesheet',
        type='text/css'
      )
      link(rel='shortcut icon',href='/favicon.ico')
      link(rel='apple-touch-icon', href='/apple-touch-icon.png')

      //if lt IE 9
        script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    div#main
      header.banner.cf
        block header
          //- Desktop Menu
          nav
            ul
              for item in locals.menu
                li
                  a.internal(href=item.url, title=item.description) #{ item.name }
          div
            h1
              a.internal(href='/') #{ locals.owner }
            h3
              | Front-End Engineer


      section.content.cf
        block main

      div.me.cf
        img(
          src="https://1.gravatar.com/avatar/6fbcd51cb382d04eb0ba1b7e6e9dd108?d=https%3A%2F%2Fidenticons.github.com%2F4f3f829c99972f89b41aff400c48b794.png&s=125"
          height="125"
          width="125"
          alt="Alex Normand")

        ul.social
          for profile in locals.social
            li
              i(class=profile.name.toLowerCase())
              a(href=profile.url) #{ profile.name }

      footer.cf
        p
          | Powered By
          a(href='http://wintersmith.io') Wintersmith
          | &
          a(
            href='http://code.google.com/appengine/',
            title='Google App Engine'
          )
            span#appengine Google App Engine

    - if (locals.mode == 'development')
      script(
        data-main='/js/main',
        src='/js/libs/requirejs/require.js'
      )
    - else
      script(async, src="/js/main.js")


